@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


.japp-container {
  margin-left: 100px;
  margin-top: 100px;
}

.buttons {
  margin: 10px;
  margin-left: 0;
}

.fetch-next-user-button {
  font-size: 18px;
  padding: 5px;
  outline: none;
  background-color: #165664;
  border: 2px solid #3e8fa0;
  color: #fff;
  border-radius: 3px;
}

.fetch-next-user-button:hover {
  cursor: pointer;
}

.fetch-next-user-button:disabled {
  cursor: progress;
  color: #000;
  background-color: #70b2c1;
  border-color: #5bcde5;
}

.user-data {
  margin-bottom: 10px;
  display: flex;
}

.img-container {
  margin-right: 10px;
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.count-container button {
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #8686d4;
  border-radius: 5px;
  background-color: #1e3455;
  color: #fff;
}

.data-container {
  background-color: #205757;
  padding: 5px;
  width: 22rem;
  border-radius: 5px;
}

.data-container .user-name {
  border-bottom: 2px solid #fff;
  margin-bottom: 8px;
}

.data-container .user-email {
  border-bottom: 2px solid #fff;
}

.img-container {
  background-color: #205757;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.img-container .user-image {
  margin: 7px;
  border: 2px solid #fff;
  border-radius: 5px;
}